@import "../abstracts/variables";

.btn {
    border-radius: 4px;
    background: $secondary-color;
    padding: 8px 24px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: $btn-text-color;
    cursor: pointer;

    &:hover {
        background: $secondary-coler-hover;
    }
}

.green-btn {
    background: $green-color;

    &:hover {
        background: $green-color-hover;
    }
}