* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Cabin', sans-serif;
}

.content-container {
    width: 1296px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}