@import "./abstracts/variables";

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #A8A8A8;
}

.main__card-description {
    font-size: 16px;
    line-height: 24px;
    color: $grey-color;
}