$primary-color: #10BBD5;
$secondary-color: #4C394E;
$secondary-coler-hover:#744978;
$grey-color: #8E8E8E;
$green-color: #4D762D;
$green-color-hover: #6DB236;
$price-color: #E90000;
$title-color: #1F1F1F;
$btn-text-color: #F8FDFE;
$hit-color: #4200FF;
$new-color: #AF39E7;
$discount-color: #EA33C0;