@import "./abstracts/variables";

.footer {
    background: $secondary-color;
}


.footer__wrapper {
    @include flex(space-between, center);

    & p {
        color: $btn-text-color;
        font-size: 16px;
        line-height: 24px;
        padding: 32px 0 32px;
    }

}