@import "../abstracts/variables";
@import "../abstracts/mixins.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    & a {
        color: $title-color;
    }

    & span {
        color: $btn-text-color;
        font-size: 16px;
        line-height: 24px;
    }
}

.header__wrapper-top {
    background: $primary-color ;
}

.header__wrapper {
    background: $btn-text-color;
}

.header__link {
    display: inline-block;
}

.header__top-menu {
    @include flex(space-between,center);
    box-sizing: border-box;
    padding: 16px 0px;
}

.header__cart {
    @include flex(center, center)
}

.header__bottom-menu {
    @include flex(space-between, center);
    padding: 4px 0px;
}

.header__btn-cart {
    border: none;
    background: #10BBD5;
    cursor: pointer;
    position: relative;

    & span {
        color: #000;
        font-size: 12px;
        line-height: 10px;
        font-family: Cabin;
        position: absolute;
        top: 11px;
        right: 16px;
    }
}

.header__nav-list {
    @include flex();
    gap: 40px;
}

.header__list-link {
    font-size: 16px;
    line-height: 24px;
}