@import "./abstracts/variables";
@import "./abstracts/mixins.scss";

.main {
    background: $btn-text-color;
    margin-top: 104px;
    position: relative;
}

.main__card-img {
    width: 178px;
    height: 280px;
    margin-left: 32px;
}

.main__btn-chat {
    border: none;
    position: fixed;
    top: 676px;
    right: 28px;
    background-color: $primary-color;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

.main__btn-icon {
    width: 51px;
    height: 51px;
    margin: 0 auto;
}

.main__heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding: 36px 0 23px;
    margin-bottom: 24px;
}

.main__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
    position: relative;
}

.main__card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    background: $btn-text-color;
    gap: 16px;
    position: relative;
}


.main__heading-roman-emperor {
    width: 100%;
    height: 31px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.main__card-price-wrapper {
    display: flex;
    gap: 24px;
    display: relative;
}

.main__card-price {
    color: $price-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.main__card-delated-price {
    color: $grey-color;
    text-decoration-line: line-through;
}

.main__badge-hit {
    position: absolute;
    top: 32px;
    left: 32px;
    color: $btn-text-color;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: $hit-color;
    padding: 4px 8px;
}

.main__badge-new {
    background: $new-color;
    width: 47px;
}

.main__card-badge-wrapper {
    display: flex;
}

.main__badge-discount {
    background: $discount-color;
    left: 72px;
}

.main__badge-discount-new {
    left: 83px
}

.main__badge-discount-20off {
    left: 32px;
}